<!DOCTYPE html>
<html lang="cmn-hans">
<head>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_1040527_xaibmej0t7e.css">
  <link rel="stylesheet" href="__CSS__/follow.css">
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" defer></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>小印相 - 印记出相</title>
</head>

<body>
  <header>
    <img src="__IMG__/inxiang.png"><a href="index"><h1>小印相</h1></a>
    <div class="pure-menu pure-menu-horizontal menu">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link"><i class="iconfont icon-message"></i></a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link"><i class="iconfont icon-discover"></i></a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link"><i class="iconfont icon-user"></i></a></li>
      </ul>
    </div>
  </header>

  <div class="container">
    <h1 class="heading">我的粉丝</h1>

    {php}use app\user\model\User as U;{/php}
    {volist name="follower" id="item"}
    {php}$info = U::where('nickname', $item)->find();{/php}

    <div class="friend">
      <div>
        <a class="user" href="?id={$info.id}" title="跳转到他的主页">{$info.nickname}</a>
        <p>{$info.saying}</p>
      </div>
      <div class="pure-menu pure-menu-horizontal action">
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="friend?id={$info.id}" class="pure-menu-link">关注</a></li>
        </ul>
      </div>
    </div>
    {/volist}
  </div>
</body>
</html>
