@charset "UTF-8";
html, body, .container {
    height: 100%;
    margin: 0;
    padding: 0;
}

 .display, aside { height: 100%; }

.display { background-color: #f8f8f8; }

.display img {
    position: relative;
    top: 6%;
    left: 10%;
    width: 80%;
    height: auto;
}
.user {
    position: relative;
    padding: 30px 0 0 0;
    margin-left: 16px;
    height: 40px;
    line-height: 40px;
    font-weight: 100;
    color: #000;
    font-size: 20px;
}

.user * { display: inline-block; }

.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user span {
    position: absolute;
    bottom: 1.5em;
}

.user span:last-child {
    left: 4.6em;
    bottom: .2em;
    display: block;
    font-size: 12px;
    color: #666;
}

p {padding: 0 .6em; }

.action {
    position: absolute;
    bottom: .5em;
    right: 2em;
    width: 15em;
}

.action ul li { background-color: #f3f3f3; }
