@charset "UTF-8";
html, body, .container {
    height: 100%;
    margin: 0;
    padding: 0;
}

 .display, aside { height: 100%; }

.display { background-color: #f8f8f8; }

.display img {
    position: relative;
    top: 6%;
    left: 10%;
    width: 80%;
    height: auto;
}

.user {
    margin-left: 16px;
    height: 40px;
    line-height: 40px;
    font-weight: 100;
    color: #000;
    font-size: 20px;
}

.user-info {
    position: relative;
    margin: .3em 0 0 .5em;
}

.user-info .user {
    position: relative;
    padding: 2em 0 0 0;
    margin-left: 5px;
    height: 40px;
    line-height: 40px;
    font-weight: 100;
    color: #333;
    font-size: 20px;
}

.user-info .time {
    font-size: 12px;
    color: #666;
    display: block;
}

p {padding: 0 .6em; }

.action {
    position: absolute;
    bottom: .5em;
    right: 3em;
    width: 15em;
}

.action ul li {
    text-align: center;
    width: 7.5em;
    background-color: #f3f3f3;
}
