@charset "UTF-8";
body {
    font-size: 16px;
    color: #333;
    background-color: #f8f8f8;
    z-index: -2;
}

a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

a:hover { color: #2c83c4; }

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
}

header > * { display: inline-block; }

header { z-index: 999; }

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
}

h1 {
    display: inline-block;
    margin: 0;
    font-size: 21px;
    font-weight: normal;
    line-height: 50px;
  }

header img {
    position: relative;
    top: 6px;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin: 0 10px 0 44px;
}

.user {
    margin-left: 16px;
    height: 40px;
    line-height: 40px;
    font-weight: 100;
    color: #000;
    font-size: 20px;
}

.menu {
    position: relative;
    right: 9%;
    float: right;
    width: 12%;
    display: inline-block;
}

.menu ul li a .iconfont { font-size: 32px; }

.container {
    position: relative;
    top: 3.8em;
    width: 72%;
    height: 85%;
    margin: 0 auto;
    padding-bottom: 1em;
}

.heading {
    display: block;
    text-align: center;
    font-weight: normal;
    color: #666;
    border-bottom: 1px solid #c9c9c9;
}

.friend {
    position: relative;
    box-sizing: border-box;
    margin: 1em 0 0 2em;
    padding: 1em 0 0 .5em;
    display: inline-block;
    float: left;
    width: 20em;
    height: 11em;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}

.action {
    position: absolute;
    bottom: 0;
}

.friend p {margin: .5em; }
