@charset "UTF-8";
body {
    font-size: 16px;
    color: #333;
    background-color: #f8f8f8;
}

a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    }

a:hover {color: #2c83c4; }

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
}

header > * { display: inline-block; }

header { z-index: 999; }

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
}

h1 {
    display: inline-block;
    margin: 0;
    font-size: 21px;
    font-weight: normal;
    line-height: 50px;
}

header img {
    position: relative;
    top: 6px;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin: 0 10px 0 44px;
}

.menu {
    position: relative;
    right: 9%;
    float: right;
    width: 12%;
    display: inline-block;
}

.menu ul li a .iconfont { font-size: 32px; }

.container {
    width: 50%;
    padding-bottom: .2em;
    margin: 0 auto;
    margin-top: 4em;
    background-color: #fff;
}

input[type="search"] {
    width: 16em;
    height: 2.4em;
    font-size: 14px;
}

.icon-search {
    position: relative;
    left: 24px;
    top: 2px;
    color: #999;
}

h3 {
    margin: 0;
    padding: 1em 1.5em;
    font-weight: lighter;
    font-size: 18px;
}

.result {
    box-sizing: border-box;
    width: 32em;
    height: 10em;
    margin: 0 1em 1.5em 8em;
    padding: .5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.result p {
    margin: .5em 0;
}

.user {
    height: 30px;
    line-height: 30px;
    font-weight: 100;
    color: #000;
    font-size: 20px;
}

.profile { display: inline-block; }

.action {
    position: relative;
    top: 1em;
    float: right;
    display: inline-block;
    width: 7.5em;
}

.action .pure-button {
    width: 7.2em;
    margin: .5em 0
}

.saying {
    font-size: 14px;
    color: #666;
}

footer { width: 100%; }

footer p {
  letter-spacing: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #797979;
}

footer .iconfont {
  font-size: 12px;
  position: relative;
  top: 2px;
  color: #ccc;
}
