<!DOCTYPE html>
<html lang="cmn-hans">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_1040527_hzn2sr5d456.css">
  <link rel="stylesheet" href="__CSS__/reglogin.css">
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" defer></script>
  <script src="__JS__/common.js" defer></script>
  <script src="__JS__/login.js" defer></script>
  <style>.display { top: 154px; }</style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>小印相 - 印记出相</title>
</head>
<body>
  <div class="container">
    <header>
      <img src="__IMG__/inxiang.png"><h1>小印相</h1>
    </header>
    <form action="login/post" method="post" autocomplete="off">
      <dl>
        <dt></dt>
        <dd><input type="email" name="email" placeholder="电子邮箱" required></dd>
        <dd><input type="password" id="pwd" name="password" placeholder="密码" required><span class="display">显示</span></dd>
        <dd style="font-size: 13px;text-align: right;padding-right: 32px;">
          <label for="remember" style="float:left;padding-left:36px;">
            <input type="checkbox" id="remember" name="remember" value="true">&nbsp;记住我
          </label>
          <a class="pwd-forgot">忘记密码？</a>
        </dd>
        <dd><input type="submit" value="登录"></dd>
      </dl>
    </form>
  </div>

  <div class="switcher">还没有帐号？&nbsp;<a href="register">注册</a></div>

  <div class="forgot">
    <h4>忘记密码</h4> <div class="close" title="退出"><i class="iconfont icon-no"></i></div>
    <form action="login/forgot" method="post" class="pure-form pure-form-aligned" autocomplete="off">
      <fieldset>
        <div class="pure-control-group">
          <input type="email" name="email" required placeholder="邮箱地址">
        </div>

        <div class="pure-control-group">
          <input type="text" name="nickname" required placeholder="昵称">
        </div>

        <div class="pure-control-group">
          <input id="password" type="password" name="password" required placeholder="新密码">
          <span class="show">显示</span>
        </div>

        <div class="pure-control-group">
          <button type="submit" class="pure-button pure-button-primary">提交</button>
        </div>
    </fieldset>
    </form>
  </div>

  <footer>
      <p>{php} echo date("Y"){/php} <i class="iconfont icon-code"></i> Powered by <a target="__blank" href="https://github.com/rickweishaw">RCWei</a></p>
    </footer>
</body>
</html>
