<!DOCTYPE html>
<html lang="cmn-hans">
<head>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_1040527_xaibmej0t7e.css">
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" defer></script>
  <script src="__JS__/index.js" defer></script>
  <script src="__JS__/message.js" defer></script>
  <link rel="stylesheet" href="__CSS__/index.css">
  <link rel="stylesheet" href="__CSS__/message.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>小印相 - 印记出相</title>
</head>
<body>
  <header>
    <a href="index"><img src="__IMG__/inxiang.png"><h1>小印相</h1></a>
    <div class="pure-menu pure-menu-horizontal menu">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="javascript:showMsg()" title="消息" class="pure-menu-link"><i class="iconfont icon-message"></i></a></li>
        <li class="pure-menu-item"><a href="user" title="用户" class="pure-menu-link"><i class="iconfont icon-user"></i></a></li>
      </ul>
    </div>
  </header>

  <div class="container pure-g">
    <div class="pure-u-15-24 post">
      {volist name="work" id="item"}
      <div class="work"> <!-- work begin -->
        <div class="user">{$item.author}</div>
        <div class="pic">
          <img src="{$item.path}" alt="{$item.id}" title="点击图片查看详情">
        </div>
        <div class="pure-menu pure-menu-horizontal action">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a href="index/like?id={$item.id}" title="点赞" class="pure-menu-link"><i class="iconfont icon-like"></i> {$item.likes}</a>
            </li>
          </ul>
        </div>
        <div class="info-box">
          <p class="title"><span>{$item.author}</span><span style="display:inline-block;">{$item.desc}</span></p>
          <p class="date-time">{$item.upload_time} 发布</p>
        </div>
      </div> <!-- work end -->
      {/volist}
    </div>

    <aside class="pure-u-6-24">
      <a href="user" style="display: block;">
        <div class="user">{$user.nickname}</div><div class="bio">{$user.saying}</div>
      </a>
      <div class="out-box">
        <p style="color: #2c83c4">有什么新鲜事想告诉大家?</p>
        <form action="index/post" method="post" class="pure-form">
          <input type="hidden" id="base64" name="base64" value="">
          <textarea name="content" id="content" placeholder="这一刻的想法..." title='按 "N" 输入内容'></textarea>
          <div class="up-img">
            <div><h4>图片上传</h4><span class="iconfont icon-no" title="返回"></span></div>
            <div><img id="img" src="__IMG__/image.jpg"></div>
            <div><input type="file" id="i-upload" name="pics" accept="image/jpeg, image/png"></div>
          </div>

          <div class="pure-menu pure-menu-horizontal post-act">
            <ul class="pure-menu-list">
              <li class="pure-menu-item"><a id="showImg" title="添加图片"><i class="iconfont icon-pics pure-menu-link"></i></a></li>
              <li class="pure-menu-item submit"><input type="submit" value="发布" class="pure-button pure-button-primary"></li>
            </ul>
          </div>
        </form>
      </div>
      <footer>
        <p>{php} echo date("Y"){/php} <i class="iconfont icon-code"></i> Powered by <a target="__blank" href="https://github.com/rickweishaw">RCWei</a></p>
      </footer>
    </aside>
  </div>

  <div class="message">
    <p><span>消息</span><span><a class="clear">清空消息</a><i id="msg-close" class="iconfont icon-no" title="关闭"></i></span></p>
    <div class="msg-cnt pure-menu">
      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-link item">RCWei 赞了你的 aaaa</li>
        <li class="pure-menu-item pure-menu-link item">RCWei 开始关注你了</li>
      </ul>
    </div>
  </div>
</body>
</html>
