<!DOCTYPE html>
<html lang="cmn-hans">
<head>
  <link rel="shortcut icon" href="http://inxiang.net/favicon.ico" type="image/x-icon">
  <link href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_1040527_xaibmej0t7e.css">
  <link rel="stylesheet" href="__CSS__/detail.css">
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" defer></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>小印相 - 印记出相</title>
</head>
<body>
    <div class="pure-g container">
      <div class="pure-u-16-24 display"><img id="image" src="{$item.path}"></div>
      <aside class="pure-u-8-24">
        <div class="user-info">
          <span class="user">{$item.author}</span>
          <span class="time">上传于 {$item.upload_time}</span>
        </div>
        <p>{$item.desc}</p>

        <div class="pure-menu pure-menu-horizontal action">
            <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="detail/friend?id={$aid}" class="pure-menu-link">加关注</a></li>
              <li class="pure-menu-item"><a href="detail/del?id={$item.id}" class="pure-menu-link">删除</a></li>

            </ul>
        </div>
      </aside>
    </div>
</body>
</html>
