<!DOCTYPE html>
<html lang="cmn-hans">
<head>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_1040527_hzn2sr5d456.css">
  <link rel="stylesheet" href="__CSS__/user.css">
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" defer></script>
  <script src="__JS__/user.js" defer></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>小印相 - 印记出相</title>
</head>

<body>
  <header>
    <img src="__IMG__/inxiang.png"><a href="http://inxiang.net"><h1>小印相</h1></a>
		<form class="pure-form" action="search" method="GET" autocomplete="off" style="position:relative;left:25em;">
		  <i class="iconfont icon-search"></i><input type="search" name="keyword" placeholder="搜索用户..." style="padding-left: 2em;">
		</form>
    <div class="pure-menu pure-menu-horizontal menu">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link"><i class="iconfont icon-message"></i></a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link"><i class="iconfont icon-user"></i></a></li>
      </ul>
    </div>
  </header>

  <div class="container">
    <div class="info">
      <div class="desc">
        <p>
          <span class="user">{$name}</span>
          <a href="account" id="edit">编辑主页</a>
          <span><a id="setting"><i class="iconfont icon-setting"></a></i></span></p>
        <p>
          <span>{$post} 帖子</span>
          <span><a href="user/follower">{$follower} 粉丝</a></span>
          <span><a href="user/follow">关注 {$followed}</a></span>
        </p>
        <p>{$saying}</p>
      </div>
    </div>

    <div class="gallery">
        <p>帖子</p>
        {volist name="gallery" id="item"}
          <div class="item">
            <img src="{$item.path}" alt="{$item.id}">
            <span class="likes"><i class="iconfont icon-like"></i>{$item.likes}</span>
          </div>
        {/volist}
    </div>
  </div>

  <div class="setting pure-menu">
    <ul class="pure-menu-list">
      <li class="pure-menu-heading">帐户设置</li>
      <li class="pure-menu-item"><a href="account" class="pure-menu-link">编辑主页</a></li>
      <li class="pure-menu-item"><a href="user/logout" class="pure-menu-link">退出登录</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link cancel">取消</a></li>
  </ul>
  </div>
</body>
</html>
